<div class="row transitionfx">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="main-image sp-wrap col-lg-12 no-padding" style="display: inline-block;">
      <div class="sp-large">
        <img ng-src="{{item.images[0].url}}" class="img-responsive" alt="img">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-5">
    <h1 class="product-title">{{item.texts[0].name}}</h1>
    <div class="rating">
      <p>
        <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i
          class="fa fa-star-o "></i></span> <span class="ratingInfo"> <span> / </span> <a data-target="#modal-review" data-toggle="modal"> Write a review</a>
        </span>
      </p>
    </div>
    <div class="product-price">
      <h2>${{item.prices[0].value}}</h2>
    </div>
    <div class="details-description">
      <p>{{item.texts[0].description}}</p>
    </div>
    <hr>
    <div class="col-sm-5" align="right">
      <a ng-click="actions.like(item);"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="badge">{{item.countLikes}}</span></a> <a popover-placement="top"
        popover-template="$root.popoverTemplate.reviewTemplateUrl"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="badge">{{item.countReviews}}</span></a>
    </div>
    <hr>
    <h3>Review:</h3>
    <div ng-repeat="review in item.reviews.content">Rating: {{review.rating}} - {{review.content}}</div>
  </div>
</div>
