    <div>
    <h2>My Following - Follow Your Favorite Stores</h2>
    </div>
    <div>
    <p>For anoymous, the defaulit following store is BestBuy, Walmart. After <a ng-click="login()">Log In</a>, you could follow or unfollow any stores.</p>
    </div>    
    
<div class="container">
    <div class="row" ng-include="'tpl-product-list-default.html'"></div>
    <div class="row">
        <div class="load-more-block text-center">
            <a class="btn btn-thin btn-default" ng-click="loadMore()">+ load more products</a>
        </div>
    </div>
</div>
