
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="item in items">
    <div class="thumbnail">
      <img ng-src="{{item.images[0].url}}" alt="{{item.images[0].alt}}">
      <div class="caption">
        <h3 ng-repeat="name in item.names | filter: {language: $root.language.language}">{{name.value}}</h3>
        <p ng-repeat="desc in item.descriptions | filter: {language: $root.language.language}">{{desc.value | limitTo:90}}</p>
        <p>
          <a class="btn btn-default" href="#/product/{{item.id}}" role="button">View details &raquo;</a> <a class="btn btn-primary" href="#/order/{{item.id}}" role="button">ORDER</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="load-more-block text-center">
    <a class="btn btn-thin btn-default" ng-click="loadMore()">+ load more products</a>
  </div>
</div>
