
    <div class="row">
        <div class="col-xs-5">
            <h3>Online - All Online Deals in One Place</h3>
        </div>
        <div class="col-xs-7">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="stores.result">
                        <option value="0">All Stores</option>
                        <option ng-repeat="store in stores.all" value="{{store.id}}" ng-selected="stores.result == store.id">{{store.name}}</option>
                    </select>
                    <select class="form-control">
                        <option ng-selected="tags.result">Tag</option>
                        <!--<option>Store</option>-->
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="tags.result">
                </div>
                <a class="btn btn-primary" ng-click="loading()"><span class="glyphicon glyphicon-filter"></span> Filter</a>
            </form>

        </div>
    </div>        
    <div class="row">
        <div class="col-xs-12">
            <tabset justified="true">
                <tab heading="Newly Added" select="select('createdAt,desc')"></tab>
                <tab heading="Best Reputation" select="select('reputation,desc')"></tab>
                <tab heading="$ Low to High" select="select('currentPrice,asc')"></tab>
                <tab heading="$ High to Low" select="select('currentPrice,desc')"></tab>

                <tab heading="Most Liked" select="select('countLikes,desc')"></tab>
                <tab heading="Most Discussed" select="select('countReviews,desc')"></tab>
                <!--  change filter to the top
                <tab heading="Filter by Tags" select="loadTags()">

                    <div class="panel panel-default">
                        <div class="panel-heading">Filter By Tags</div>
                        <div class="panel-body">
                            <div class="col-xs-6 col-lg-4" ng-repeat="tag in tags.all">
                                <input type="checkbox" ng-model="tags.checklist[tag.value]">{{tag.value}}
                            </div>
                            <div class="row pull-right">
                                <a class="btn btn-default" ng-click="loading()">Match All Tags</a><a class="btn btn-default" ng-click="loading()">Match Any Tags</a>
                            </div>
                        </div>
                    </div>

                </tab>
                <tab heading="Filter by Stores" select="loadStores()">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter By Stores</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-lg-4" ng-repeat="store in stores.all">
                                    <input type="checkbox" ng-model="stores.checklist[store.id]">{{store.name}} ({{store.website}})
                                </div>
                            </div>
                            <div class="row pull-right">
                                <a class="btn btn-default" ng-click="loading()">Search</a>
                            </div>
                        </div>
                    </div>
                </tab>
                -->
            </tabset>
        </div>
        <div class="col-xs-12">
            <pagination total-items="pagination.total" ng-model="pagination.page" items-per-page="pagination.size" class="pagination-sm pull-right" boundary-links="true" rotate="true"
                        ng-change="pagination.change()"></pagination>
        </div>
        <div class="col-xs-12">
            <div class="row" ng-include="'tpl-product-list-default.html'" autoscroll="true"></div>
        </div>
        <div class="col-xs-12">
            <pagination total-items="pagination.total" ng-model="pagination.page" items-per-page="pagination.size" class="pagination-sm pull-right" boundary-links="true" rotate="true"
                        ng-change="pagination.change()"></pagination>

        </div>
    </div>
