<div class="container">
    <!-- following store tile-->
   <div class="row">
	   <div class="col-sm-12">
	   	<h3>Following</h3>
	   </div>
   </div>  
   <!-- following store list-->
  <div class="row">     
       <div class="col-sm-3" ng-repeat="store in stores" ng-if="store.followed" >
	            <div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><a href="#/all?store_id={{store.id}}">{{store.name}}</a></div>
			  <div class="panel-body">
	            <div class="row">
	                <div class="col-xs-12" align="center">
	                    <img class="store_log"src="./images/store_logo/{{store.logo}}">
	                </div>
	            </div>
	            <div class="row">
	                <hr>
	            </div>
	            	                       

	            <div class="row">
	                <div class="col-xs-12">
	                    <p class="highlight_RoyalBlue">{{$root.constant.STORE_CATEGORY[store.category]}} </p>
	                </div>
	            </div>
                        	            
	            <div class="row">
	                <div class="col-xs-12">
	                    <p>{{store.description}}</p>
	                </div>
	            </div>
	            
	            <div class="row">
	                <hr>
	            </div>		            
	            <div class="row">            
	                <div class="col-xs-3">
	                     <i class="fa fa-heart">{{store.countLikes}}</i>
	                </div>
	                <div class="col-xs-4">
	                     <i class="fa fa-user">{{store.countFollowings}}</i>
	                </div>	                	                
	                <div class="col-xs-5">
	                    <a type="button" class="btn btn-sm btn-primary" ng-if="!store.followed" ng-click="follow(store)"><span class="glyphicon glyphicon-plus"></span></i>Follow</a>
	                    <a type="button" class="btn btn-sm btn-primary" ng-if="store.followed" ng-click="unfollow(store)"><span class="glyphicon glyphicon-minus"></span></i>Follow</a>
	                     
	                </div>	                
	            </div>            
	            
            </div>
            <div class="panel-footer"></div>  
            </div>            
       </div>      
   </div>
    <!--to follow store title-->
   <div class="row">
	   <div class="col-sm-12">
	   		<h3>Explore More</h3>
	   </div>
   </div>
 <!--to follow store list-->     
  <div class="row">     
       <div class="col-sm-3" ng-repeat="store in stores" ng-if="!store.followed" >
	            <div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><a href="#/all?store_id={{store.id}}">{{store.name}}</a></div>
			  <div class="panel-body">
	            <div class="row">
	                <div class="col-xs-12" align="center">
	                    <img class="store_log"src="./images/store_logo/{{store.logo}}">
	                </div>
	            </div>
	            <div class="row">
	                <hr>
	            </div>
	            	                       

	            <div class="row">
	                <div class="col-xs-12">
	                    <p class="highlight_RoyalBlue">{{$root.constant.STORE_CATEGORY[store.category]}} </p>
	                </div>
	            </div>
                        	            
	            <div class="row">
	                <div class="col-xs-12">
	                    <p>{{store.description}}</p>
	                </div>
	            </div>
	            
	            <div class="row">
	                <hr>
	            </div>		            
	            <div class="row">            
	                <div class="col-xs-3">
	                     <i class="fa fa-heart">{{store.countLikes}}</i>
	                </div>
	                <div class="col-xs-4">
	                     <i class="fa fa-user">{{store.countFollowings}}</i>
	                </div>	                	                
	                <div class="col-xs-5">
	                    <a type="button" class="btn btn-sm btn-primary" ng-if="!store.followed" ng-click="follow(store)"><span class="glyphicon glyphicon-plus"></span></i>Follow</a>
	                    <a type="button" class="btn btn-sm btn-primary" ng-if="store.followed" ng-click="unfollow(store)"><span class="glyphicon glyphicon-minus"></span></i>Follow</a>
	                     
	                </div>	                
	            </div>            
	            
            </div>
            <div class="panel-footer"></div>  
            </div>            
       </div>      
   </div>
</div>