<div class="row">
    <div class="col-xs-5">
        <h3>Search - Keyword: '{{keyword}}'</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <tabset justified="true">
            <tab heading="Newly Added" select="select('createdAt,desc')"></tab>
            <tab heading="Best Reputation" select="select('reputation,desc')"></tab>
            <tab heading="$ Low to High" select="select('currentPrice,asc')"></tab>
            <tab heading="$ High to Low" select="select('currentPrice,desc')"></tab>

            <tab heading="Most Liked" select="select('countLikes,desc')"></tab>
            <tab heading="Most Discussed" select="select('countReviews,desc')"></tab>
        </tabset>
    </div>
    <div class="col-xs-12">
        <pagination total-items="pagination.total" ng-model="pagination.page" items-per-page="pagination.size" class="pagination-sm pull-right" boundary-links="true" rotate="true"
                    ng-change="pagination.change()"></pagination>
    </div>
    <div class="col-xs-12">
        <div class="row" ng-include="'tpl-product-list-default.html'" autoscroll="true"></div>
    </div>
    <div class="col-xs-12">
        <pagination total-items="pagination.total" ng-model="pagination.page" items-per-page="pagination.size" class="pagination-sm pull-right" boundary-links="true" rotate="true"
                    ng-change="pagination.change()"></pagination>

    </div>
</div>
