<div class="container">

    <div class="row">
        <div class="col-xs-7">
        	<h3>National - Deals Online, in Store</h3>
        </div>
        <div class="col-xs-5">
			<form class="form-inline">
			  <div class="form-group">
				<select class="form-control">
				  <option>Tag</option>
				  <option>Store</option>
				</select>
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control">
			  </div>
			  <a href="#/product/{{item.id}}/order" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span> Filter</a>
			</form>        

        </div>               
    </div>
    <div class="row">
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/phone.png">
        <span>Phones</span>
      </div>   
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/laptop.png">
        <span>Laptops</span>
      </div>
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/tablet.png">
        <span>Tablets</span>
      </div>
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/electronics.png">
        <span>Electronics</span>
      </div>
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/appliance.png">
        <span>Appliance</span>
      </div>      
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/furniture.png">
        <span>Furniture</span>
      </div>           

      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/sports.png">
        <span>Sports</span>
      </div>   
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/outdoors.png">
        <span>Outdoors</span>
      </div>       
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/clothing.png"">
        <span>Clothing</span>
      </div>
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/shoes.png"">
        <span>Shoes</span>
      </div>          
      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/women_3.png"">
        <span>Handbags</span>
      </div> 

      <div class="col-md-1">
      	<img class="category_image" src="./images/jumbotron/cosmetics.png"">
        <span>Cosmetics</span>
      </div>                
    </div>
    <div class="row">
        <div class="col-xs-12">
        <hr>
        </div>
    </div>      
    <div class="row">
        <div class="col-xs-12">
            <tabset justified="true">
                <tab heading="Newest" select="select('createdAt,desc')"></tab>
                <tab heading="Best Reputation" select="select('reputation,desc')"></tab>
                <tab heading="$ Low to High" select="select('currentPrice,asc')"></tab>
                <tab heading="$ High to Low" select="select('currentPrice,desc')"></tab>

                <tab heading="Most Likes" select="select('countLikes,desc')"></tab>
                <tab heading="Most Reviews" select="select('countReviews,desc')"></tab>
                <!--  change filter to the top
                <tab heading="Filter by Tags" select="loadTags()">

                    <div class="panel panel-default">
                        <div class="panel-heading">Filter By Tags</div>
                        <div class="panel-body">
                            <div class="col-xs-6 col-lg-4" ng-repeat="tag in tags.all">
                                <input type="checkbox" ng-model="tags.checklist[tag.value]">{{tag.value}}
                            </div>
                            <div class="row pull-right">
                                <a class="btn btn-default" ng-click="loading()">Match All Tags</a><a class="btn btn-default" ng-click="loading()">Match Any Tags</a>
                            </div>
                        </div>
                    </div>

                </tab>
                <tab heading="Filter by Stores" select="loadStores()">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter By Stores</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-lg-4" ng-repeat="store in stores.all">
                                    <input type="checkbox" ng-model="stores.checklist[store.id]">{{store.name}} ({{store.website}})
                                </div>
                            </div>
                            <div class="row pull-right">
                                <a class="btn btn-default" ng-click="loading()">Search</a>
                            </div>
                        </div>
                    </div>
                </tab>
                -->
            </tabset>
        </div>
        <div class="col-xs-12">
            <pagination total-items="pagination.total" ng-model="pagination.page" items-per-page="pagination.size" class="pagination-sm pull-right" boundary-links="true" rotate="true"
                        ng-change="pagination.change()"></pagination>
        </div>
        <div class="col-xs-12">
            <div class="row" ng-include="'tpl-product-list-default.html'"></div>
        </div>
        <div class="col-xs-12">
            <pagination total-items="pagination.total" ng-model="pagination.page" items-per-page="pagination.size" class="pagination-sm pull-right" boundary-links="true" rotate="true"
                        ng-change="pagination.change()"></pagination>

        </div>
    </div>
</div>
