<div>
    <div>
        <div>
            Search: <input ng-model="query"> Sort by: <select ng-model="orderProp">
                <option value="account">Account Name</option>
                <option value="stampJoined">Joined</option>
            </select><br />
            <button ng-click="goRegister()">Register</button>
        </div>
        <div>
            <ul>
                <li ng-repeat="account in accounts | filter:query | orderBy:orderProp"><a
                    href="#/accounts/{{account.id}}">{{account.account}}</a>
                    <p>Password: {{account.password}}</p>
                    <p>Joined: {{account.stampJoined}}</p>
                    <p>Modified: {{account.stampModified}}</p></li>
            </ul>
        </div>
    </div>
</div>
