<div ng-form="myForm">
    <h1>Welcome {{profile.firstName}} {{profile.lastName}}.</h1>
    <ul>
        <li><pre>{{myForm.$error | json}}</pre></li>
        <li>
            First Name: <input type="text" name="first_name" ng-model="profile.firstName" required />
            <span ng-show="myForm.first_name.$error.required">Required!</span>
        </li>
        <li>Middle Name: <input type="text" ng-model="profile.middleName" /></li>
        <li>
            Last Name: <input type="text" name="last_name" ng-model="profile.lastName" required />
            <span ng-show="myForm.last_name.$error.required">Required!</span>
        </li>
        
        <li>
            <span>Phone Number:</span><br />
            <span ng-repeat="phone in profile.phones">
                <select ng-model="phone.type" ng-options="phoneType for phoneType in phoneTypes"></select> : 
                <input type="text" ng-model="phone.countryCode" size="2"/>
                <input type="text" ng-model="phone.phoneNumber" />
                [<a ng-click="profile.phones.splice($index, 1)">X</a>]<br />
            </span>
            <span>
                [<a ng-click="profile.phones.push({memberId:profile.id, countryCode:'+1'})">Add</a>]
            </span>
        </li>
        <li>
            <span>Email:</span><br />
            <span ng-repeat="email in profile.emails">
                <input name="email_{{email.id}}" type="email" ng-model="email.email" size="40" required />
                [<a ng-click="profile.emails.splice($index, 1)">X</a>]
                <span ng-show="myForm.email_{{email.id}}.$error.email">Not Email!</span>
                <br />
            </span>
            <span>
                [<a ng-click="profile.emails.push({memberId:profile.id})">Add</a>]
            </span>
        </li>
        <li>
            <span>Address:</span><br />
            <span ng-repeat="address in profile.addresses">
                <select ng-model="address.type" ng-options="addressType for addressType in addressTypes"></select> : 
                <input type="text" ng-model="address.address1" /> 
                <input type="text" ng-model="address.address2" />, 
                <input type="text" ng-model="address.city" />, 
                <input type="text" ng-model="address.region" />, 
                <input type="text" ng-model="address.postCode" />, 
                <select ng-model="address.country" ng-options="country for country in countries"></select>
                [<a ng-click="profile.addresses.splice($index, 1)">X</a>]<br />
            </span>
            <span>
                [<a ng-click="profile.addresses.push({memberId:profile.id})">Add</a>]
            </span>
        </li>
        <li>
            <button ng-click="submit()">Submit</button>
        </li>
    </ul>
</div>