<div ng-form="myForm">
  <div class="row">

      <!-- product URL panel-->
      <div class="panel panel-primary">
        <div class="panel-heading">Store Info</div>
        <div class="panel-body">
          <div class="form-group">
            <label>Store name:</label> <input class="form-control" ng-model="store.name">
          </div>
          <div class="form-group">
            <label>Store Category:</label> <select ng-model="store.category" class="form-control">
                           <option value="{{key}}" ng-selected="key === store.category" ng-repeat="(key, value) in $root.constant.STORE_CATEGORY">{{value}}</option>
                       </select>            
          </div>
          
          <div class="form-group">
            <label>Store Description:</label> <textarea class="form-control" rows="3" ng-model="store.description"></textarea>
          </div>                    
          
          <div class="form-group">
            <label>Store Domain Name:</label> <input class="form-control" ng-model="store.website">
            <p class="help-block">
              <a href="http://www.{{store.website}}" taget="_blank">Preview</a>
            </p>
          </div>
          <div class="form-group">
            <label>Store Deal Page:</label> <input class="form-control" ng-model="store.dealPage">
          </div>
          <div class="form-group">
            <label>Store Logo:</label> <input class="form-control" ng-model="store.logo">
          </div>
          <div class="form-group">
            <label>Store Favicon:</label> <input class="form-control" ng-model="store.favicon">
          </div>                                        
          <div class="form-group">
            <label>Store Country:</label> <input class="form-control" ng-model="store.country">
          </div>
          <div class="form-group">
            <label>Store Province:</label> <input class="form-control" ng-model="store.province">
          </div>
          <div class="form-group">
            <label>Store Type:</label> <input class="form-control" ng-model="store.type">
          </div>                      
          <div class="form-group">
            <label>Store Status:</label> <input class="form-control" ng-model="store.status">
          </div>
    <button type="submit" class="btn btn-default" ng-click="add()">Add Button</button>            
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
</div>