<div>
            <div class="row">
            <h3>Member Profile</h3>
            <hr>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                                       
                    <div class="user-wrapper">
                        <img src="images/user_picture/{{member.picture}}" /> 
                    <div class="description">
                       <h4> {{member.nickName}}</h4>
                        <h5> <strong> Level: {{member.level}} </strong></h5>
                        <p>
                            {{member.signature}} 
                        </p>
                        <hr />
                        <a href="#" class="btn btn-danger btn-sm"> <i class="fa fa-user-plus" ></i> &nbsp;Profile + </a> 
                    </div>
                     </div>
                </div>
                
                <div class="col-md-9 col-sm-9  user-wrapper">
                    <div class="description">
                         <h3> <span class="glyphicon glyphicon-share"></span>Share : </h3>
                    <hr />
                     <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Aliquam suscipit egestas eros, ut maximus magna blandit ut. 
                         Suspendisse vel molestie sapien.
                          Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                         Fusce sit amet egestas dui, vitae tincidunt justo. 
                         </p>
                    </div>                 
                    <div class="description">
                         <h3> <span class="glyphicon glyphicon-heart"></span>Likes : </h3>
                    <hr />
                     <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Aliquam suscipit egestas eros, ut maximus magna blandit ut. 
                         Suspendisse vel molestie sapien.
                          Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                         Fusce sit amet egestas dui, vitae tincidunt justo. 
                         </p>
                    </div>     
                    <div class="description">
                         <h3><span class="glyphicon glyphicon-plus"></span>Following Stores: </h3>
                    <hr />
				    <div class="row">
				    <div class="col-sm-3"ng-repeat="store in member.stores" >
		                <div class="col-xs-12">
		                    <div class="row">
		                        <div class="col-xs-7 pull-left">
		                            <img ng-src="./images/favicon/{{store.favicon}}">
		                            <span><a class="highlight_RoyalBlue" href="#/all?store_id={{store.id}}"> {{store.website}}</a></span>
		                        </div>
		                        <div class="col-xs-5 pull-right">
		                            <button type="button" class="btn btn-xs btn-success glyphicon glyphicon-plus" ng-click="follow(store)" ng-if="!store.followed">Follow</button>
		                            <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-remove" ng-click="unfollow(store)" ng-if="store.followed">Follow</button>
		                        </div>
		                    </div>
		                </div>			    
				        </div>                     
                    </div> 
                    <div class="description">
                         <h3><span class="glyphicon glyphicon-tag"></span>Following Tags : </h3>
                    <hr />                         
                     <span ng-repeat="tag in member.tags">
	                     <a href="#/all?tags={{tag.value}}" class="glyphicon glyphicon-tag">
	                     {{tag.value}}
	                     </a>
                     </span>
                    </div>                           
                    <div class="description">
                    <h3> Social Links: </h3>
                    <hr />                
                   <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook </a>

                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                    </div>
                 </div>
                </div>
            </div>
           <!-- USER PROFILE ROW END-->
    </div>
</div>