<div>
	<div class="row">
		<h3>Member Profile</h3>
		<hr>
	</div>
    <div class="row">
		<div class="col-md-3 col-sm-3">                                       
	        <div class="user-wrapper">
	            <img src="images/user_picture/{{member.picture}}" /> 
	        <div class="description">
	        	<h4> {{member.nickName}}</h4>
                <h5> <strong> Level: {{member.level}} </strong></h5>
                <h5> <strong> Point: {{member.point}} </strong></h5>
	            <p>
	                {{member.signature}} 
	            </p>
	            <hr />
	            <a href="#" class="btn btn-danger btn-sm"> <i class="fa fa-user-plus" ></i> &nbsp;Profile + </a> 
	        </div>
	         </div>
		</div>
        <div class="col-md-9 col-sm-9  user-wrapper">
        	<div class="description">
                     
                    <div class="row">  
					    <div class="col-sm-9">                                           
							<span class="glyphicon glyphicon-share" style="font-size:24px;"></span><span style="font-size:24px;"> Share :</span>
	                    </div>
				    	<div class="col-sm-3">                                           
    				    <div class="row">
                    	 <a>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-th"></span>
                   	     </a>				    
				       </div>  
                   </div>                   
                   </div>
                   <hr/>                                        
          </div>                 
        	<div class="description">
                     
                    <div class="row">  
					    <div class="col-sm-9">                                           
							<span class="glyphicon glyphicon-heart" style="font-size:24px;"></span><span style="font-size:24px;"> Likes :</span>
	                    </div>
				    	<div class="col-sm-3">                                           
    				    <div class="row">
                    	 <a>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-th"></span>
                   	     </a>				    
				       </div>  
                   </div>                   
                   </div>
                   <hr/>                                         
          </div>
          
        	<div class="description">
                     
                    <div class="row">  
					    <div class="col-sm-9">                                           
							<span class="glyphicon glyphicon-plus" style="font-size:24px;"></span><span style="font-size:24px;"> Following Stores :</span>
	                    </div>
				    	<div class="col-sm-3">                                           
    				    <div class="row">
                    	 <a>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-th"></span>
                   	     </a>				    
				       </div>  
                   </div>                   
                   </div>
                   <hr/>
                    <div class="row">
				    <div class="col-sm-4" ng-repeat="store in member.stores" >
		                <div class="col-xs-12">
		                    <div class="row">
		                        <div class="col-xs-7 pull-left">
		                            <img ng-src="./images/favicon/{{store.favicon}}" style="height:20px; width:20px">
		                            <span><a class="highlight_RoyalBlue" href="#/all?store_id={{store.id}}"> {{store.website}}</a></span>
		                        </div>
		                        <div class="col-xs-5 pull-right">
		                            <button type="button" class="btn btn-xs btn-success glyphicon glyphicon-plus" ng-click="follow(store)" ng-if="!store.followed">Follow</button>
		                            <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-remove" ng-click="unfollow(store)" ng-if="store.followed">Follow</button>
		                        </div>
		                    </div>
		                </div>			    
				        </div> 
				    </div>                                          
          </div>
        	<div class="description">
                     
                    <div class="row">  
					    <div class="col-sm-9">                                           
							<span class="glyphicon glyphicon-plus" style="font-size:24px;"></span><span style="font-size:24px;"> Following Tags :</span>
	                    </div>
				    	<div class="col-sm-3">                                           
    				    <div class="row">
                    	 <a>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-chevron-right"></span>
                   	     <span class="glyphicon glyphicon-th"></span>
                   	     </a>				    
				       </div>  
                   </div>                   
                   </div>
                   <hr/>
                    <div class="row">  
				    <div class="col-sm-4"ng-repeat="tag in member.tags" >                                           
		                <div class="col-xs-12 pull-left">
		                    <div class="row">
		                        <div class="col-xs-12 pull-left">
		                            <span class="highlight_RoyalBlue glyphicon glyphicon-tag"></span>
		                            <a class="highlight_RoyalBlue" href="#/all?tags={{tag.value}}">{{tag.value}}</a> <a class="highlight_RoyalBlue glyphicon glyphicon-plus">
		                            </a>
		                        </div>
		                    </div>
		                </div>
                   </div>
                   </div>                         
                    <div class="description">
                    <h3> Social Links: </h3>
                    <hr />                
                   <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook </a>

                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                    </div>
                 </div>
                </div>
            </div>
           <!-- USER PROFILE ROW END-->
    </div>
</div>