<h4>Discuss This Deal:</h4>
<div class="form-group">
  <textarea class="form-control" ng-model="item.review.content" rows="9"></textarea>
  <button class="btn btn-primary btn-xs form-control" ng-click="actions.review(item)">SUBMIT</button>
  <div class="alert alert-success" role="alert" ng-show="item.review.showMsg === 'message'">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span class="sr-only">OK:</span> {{item.review.msg}}
  </div>
  <div class="alert alert-danger" role="alert" ng-show="item.review.showMsg === 'error'">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span class="sr-only">Error:</span> {{item.review.msg}}
  </div>
</div>


