
    <div class="row">
    <h2 class="glyphicon glyphicon-plus"> Your Follow</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">        
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Stores</div>
			  <div class="panel-body">
					    <!-- following store list-->
					    <div class="row">
					        <div class="col-sm-3" ng-repeat="store in me.stores" >
					            <div class="panel panel-default">
					                <!-- Default panel contents -->
					
					                <div class="panel-body">
					                    <div class="row">
					                        <div class="col-xs-7" align="center">
					                            <img ng-src="./images/favicon/{{store.favicon}}">
					                        </div>
					                        <div class="col-xs-5">
					                            <a type="button" class="btn btn-xs btn-default" ng-click="unfollow(store)"><span class="glyphicon glyphicon-minus"></span></a>
					                        </div>                        
					                    </div>
					
					                </div>
					            </div>
					        </div>
					    </div>    
			  </div>			
			</div>                
        </div>
        <div class="col-sm-6">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><span class="glyphicon glyphicon-tag">Tags</span></div>
			  <div class="panel-body">
					    <div class="row">
					        <div class="col-sm-4" ng-repeat="tag in me.tags" >
					            <div class="panel panel-default">
					                <!-- Default panel contents -->
					
					                <div class="panel-body">
					                    <div class="row">
					                            <span><b><a href="#/all?tags={{tag.value}}">{{tag.value}}</a></b></span> <a type="button" class="btn btn-xs btn-default" ng-click="unfollowTag(tag)"><span class="glyphicon glyphicon-minus"></span></a>            
					                    </div>
					                    
					
					                </div>
					            </div>
					        </div>
					    </div>    
			  </div>
			</div>                
        </div>
    </div>


    
    

      
 
        
   
    <div ng-show="$root.profile.account.trim()">
		
		<div>
			<hr>
		</div>
		<div class="container">
		    <div class="row" ng-include="'tpl/tpl-product-list-default.html'"></div>
		    <div class="row">
		        <div class="load-more-block text-center">
		            <a class="btn btn-thin btn-default" ng-click="loadMore()">+ load more deals</a>
		        </div>
		    </div>
		</div>
    </div>        




    <div ng-show="!$root.profile.account.trim()">
    <p>Default following stores are BestBuy.ca, Walmart.ca and Aamzon.ca. After Log In, you could follow or unfollow any stores.</p>
    </div>