<div class="row" ng-repeat="item in (items.length/4 | RowSwitchFilter)">
    <div class="col-sm-3" ng-repeat="item in items.slice(4 * $index, 4 * $index + 4)">
        <div class="thumbnail">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7 pull-left">
                            <img ng-src="./images/favicon/{{item.store.favicon}}">
                            <span><a class="highlight_RoyalBlue" href="#/all?store_id={{item.store.id}}"> {{item.store.website}}</a></span>
                        </div>
                        <div class="col-xs-5 pull-right">
                            <button type="button" class="btn btn-xs btn-success glyphicon glyphicon-plus" ng-click="follow(item.store)" ng-if="!item.store.followed">Follow</button>
                            <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-remove" ng-click="unfollow(item.store)" ng-if="item.store.followed">Follow</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7 pull-left">
                            <span class="new_deal"  ng-if="currentDate - item.createdAt <=60*60*24*1000">New</span>
                            <span  ng-if="currentDate - item.createdAt >60*60*24*1000">
	                            <img ng-src="./images/add_product.png" height="16px">
	                            {{item.createdAt | date:"MM/dd"}}
                            </span>
                            
                        </div>
                        <div class="col-xs-5 pull-right">
                            <span class="fire glyphicon glyphicon-fire" ng-if="item.poster.id == 73"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12   div_with_bottom">
                    <div class="row">

                        <div class="col-xs-2 pull-left">
                            <img ng-src="images/avatar/{{item.poster.avatar}}">
                        </div>
                        <div class="col-xs-10 pull-right">
                            <a href="#/member/"><span class="product_time">{{item.poster.nickName}}</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <a href="#/product/{{item.id}}"><img class="product_list_image" ng-src="{{item.images[0].url}}" alt="{{item.images[0].alt}}" style="height:180px"></a>
                </div>
                        <span ng-repeat="link in item.links ">
                            <div class="col-xs-12">
                              <span class="rating" ng-if="link.rating>4.75 && link.rating<=5">
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                              </span>
                              <span class="rating" ng-if="link.rating>4.25 && link.rating<=4.75">
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star-half-o fa-3 highlight_RoyalBlue"></i>                           
                              </span>
                              <span class="rating" ng-if="link.rating>3.75 && link.rating<=4.25">
                                  <i class="fa fa-star  fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star  fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star  fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star-o  fa-3 highlight_RoyalBlue"></i>                           
                              </span>
                              <span class="rating" ng-if="link.rating>3.25 && link.rating<=3.75">
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star-half-o fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star-o fa-3 highlight_RoyalBlue"></i>                           
                              </span>
                              <span class="rating" ng-if="link.rating>2.75 && link.rating<=3.25">
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star fa-3 highlight_RoyalBlue"></i>
                                  <i class="fa fa-star-o fa-3 highlight_RoyalBlue"></i> 
                                  <i class="fa fa-star-o fa-3 highlight_RoyalBlue"></i>                           
                              </span>
                                <b>{{link.rating}}</b> of <b>{{link.reviewNumber}}</b> reviews
                            </div>
                        
                            <div class="col-xs-12   div_with_bottom">
                                <span><a class="highlight_RoyalBlue" href="{{link.url}}">by {{link.name}}</a> </span>
                            </div>
                        </span>

                <div class="col-xs-12">
                    <h5 ng-repeat="text in item.texts | filter: {language: $root.language.language}">{{text.name }}</h5>
                </div>
                <div class="col-xs-12 div_with_bottom">
                    <span class="old-price" ng-if="item.compareValue>0.">{{item.currency}}${{item.compareValue | number:2}}</span>
                    <h4 class="highlight_RoyalBlue"> {{item.currency}}${{item.currentPrice | number:2}}</h4>
                    <span ng-repeat="fee in item.fees">+ <img ng-src="./images/{{fee.title}}.png" height="20px" alt="{{fee.title}}"> ${{fee.value | number:2}}</span><br>
                    <span>SubTotal: CAD${{item.total}}</span>
                </div>
                <div class="col-xs-12 pull-left">
                    <div class="row">
                        <div class="col-xs-12 pull-left">
                            <span class="highlight_RoyalBlue glyphicon glyphicon-tag"></span>
                            <span ng-repeat="tag in item.tags">
                            <a class="highlight_RoyalBlue" href="#/all?tags={{tag.value}}">{{tag.value}}</a> <a class="highlight_RoyalBlue glyphicon glyphicon-plus">
                            </a>                            
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <a ng-click="actions.like(item);">
                                <span class="glyphicon glyphicon-thumbs-up highlight_RoyalBlue social_button" aria-hidden="true"></span><span class="badge">{{item.countLikes}}</span>
                            </a>
                            <a ng-click="actions.unlike(item);">
                                <span class="glyphicon glyphicon-thumbs-down highlight_RoyalBlue social_button" aria-hidden="true"></span><span class="badge">{{item.countUnlikes}}</span>
                            </a>
                        </div>
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-4 pull-right">
                            <a popover-placement="top" popover-template="$root.popoverTemplate.reviewTemplateUrl">
                                <span class="glyphicon glyphicon-comment highlight_RoyalBlue social_button" aria-hidden="true"></span>
                                <span class="badge">{{item.countReviews}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

