
    <div class="row">
    <h2 ><span class="glyphicon glyphicon-plus highlight_RoyalBlue"></span> Your Follow</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">        
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Stores</div>
			  <div class="panel-body">
					    <!-- following store list-->
					    <div class="row">
					        <div class="col-sm-3" ng-repeat="store in me.stores" >
					            <div class="panel panel-default">
					                <!-- Default panel contents -->
					
					                <div class="panel-body">
					                    <div class="row">
					                        <div class="col-xs-7" align="center">
					                            <img ng-src="./images/favicon/{{store.favicon}}">
					                        </div>
					                        <div class="col-xs-5">
					                            <a type="button" class="btn btn-xs btn-default" ng-click="unfollow(store)"><span class="glyphicon glyphicon-remove"></span></a>
					                        </div>                        
					                    </div>
					
					                </div>
					            </div>
					        </div>
					    </div>    
			  </div>			
			</div>                
        </div>
        <div class="col-sm-6">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><span class="glyphicon glyphicon-tag">Tags</span></div>
			  <div class="panel-body">
					    <div class="row">
					        <div class="col-sm-4" ng-repeat="tag in me.tags" >
					            <div class="panel panel-default">
					                <!-- Default panel contents -->
					
					                <div class="panel-body">
					                    <div class="row">
					                            <span><b><a href="#/all?tags={{tag.value}}">{{tag.value}}</a></b></span> <a type="button" class="btn btn-xs btn-default" ng-click="unfollowTag(tag)"><span class="glyphicon glyphicon-remove"></span></a>            
					                    </div>
					                    
					
					                </div>
					            </div>
					        </div>
					    </div>    
			  </div>
			</div>                
        </div>
    </div>


    
    

      
 
        
   
    <div ng-show="$root.profile.account.trim()">
		
		<div>
			<hr>
		</div>
		<div class="container">
		    <div class="row" ng-include="'tpl/tpl-product-list-default.html'"></div>
		    <div class="row">
		        <div class="load-more-block text-center">
		            <a class="btn btn-thin  btn-success" ng-click="loadMore()"> Load More Deals</a>
		        </div>
		    </div>
		</div>
    </div>        




    <div ng-show="!$root.profile.account.trim()">
		
	    <div class="row">
			<div class="col-sm-12">
				<h3>
				You did not follow any stores or tags. 
				</h3>
			</div>
	    </div>
	    <div class="row">
			<div class="col-sm-12">
				<h3>
					Click <button type="button" class="btn btn-xs btn-success  glyphicon glyphicon-plus">Follow</button> or <span class=" glyphicon glyphicon-plus highlight_RoyalBlue"></span> to start following and getting deal alerts.
				</h3>
			</div>
	    </div>	    
	    <div class="row">
			<div class="col-sm-12">
				<img src="./images/how_to_follow.png">
			</div>
	    </div>
	    <div class="row">
			<div class="col-sm-12">
				<h3>
				You may also remove the follow any time.
				</h3>
			</div>
	    </div>	    	    
	    <div class="row">
			<div class="col-sm-12">
				<img src="./images/your_follow.png">
			</div>
	    </div>		
    </div>