.load-more-block {
    padding-bottom: 30px;
    position: relative;
}

.load-more-block .btn-thin {
    background: #fff;
    z-index: 2;
    position: relative;
    box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
    -webkit-box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
    -moz-box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
    -o-box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
}

.load-more-block:after {
    background: none repeat scroll 0 0 #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 30%;
    position: absolute;
    top: 18px;
    width: 40%;
    z-index: 1;
}

.btn-thin {
    border: 1px solid #BDC3C7;
    color: #BDC3C7;
    background: none;
}

body {
background-color: #EDEEF0;
	
}


h4 a {
  color: #2c3e50;
  text-decoration: none;
    font-weight: bold;
    font-size:16px;
}

. product_time {
	  font-family: sans-serif;
	  font-side:12px;
}

.image {
	height :300;
}

.index_product_image {
	height:200;
}

.store_favicon {
	max-width:24px;
}

.product_list_image {

	height: 180px;
	
}

.old-price {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
}

